<!-- Form -->

<form action="form" method="post">

  <label for="from">From</label>
  <input type="text" name="from" id="from">
  <label for="to">To</label>
  <input type="text" name="to" id="to">
  <input type="submit" value="Submit">
  <input type="submit" value="Reset">

</form>